PORT=5000

CORS_ALLOWED_ORIGINS=http://localhost:3000

DATABASE_IMAGE=postgres:14-alpine
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=alternate
DATABASE_USER=alternate
DATABASE_PASSWORD=alternate
DATABASE_SCHEMA=public
DATABASE_URL=postgres://alternate:alternate@localhost:5432/alternate?schema=public

MINIO_HOST=localhost
MINIO_PORT=9000
MINIO_BUCKET_NAME=bucket
MINIO_ACCESS_KEY=accesskey
MINIO_SECRET_KEY=secretkey
MINIO_USE_SSL=true

BETTER_AUTH_URL=http://localhost:5000
BETTER_AUTH_TRUSTED_ORIGINS=http://localhost:3000
BETTER_AUTH_USE_SECURE_COOKIES=
BETTER_AUTH_SECRET=secret # A secret value used for encryption and hashing. It must be at least 32 characters and generated with high entropy. You can use `openssl rand -base64 32` to generate one.
